<div class="all">
  <div class="reg" *ngIf="!isSignedIn">
    <mat-card class="do half-containers">
      <mat-card-title data-aos="zoom-in"  data-aos-duration="1000">Regisztráció</mat-card-title>
      <form [formGroup]="signUpForm" data-aos="zoom-in"  data-aos-duration="1000">
        <mat-form-field>
          <mat-label  for="email">Email: </mat-label>
          <input  matInput type="text" #emailSignup/>
        </mat-form-field>
        <mat-form-field>
          <mat-label for="email">Jelszó: </mat-label>
          <input  matInput type="password" #passwordSignup/>
        </mat-form-field>
      <button class="cp-button" (click)="onSignup(emailSignup.value,passwordSignup.value)">Sign up</button>
      </form>
    </mat-card>
    <div class="welchome half-containers">
      <h2 data-aos="zoom-in"  data-aos-duration="1000">Üdv az oldalon!</h2>
      <p data-aos="zoom-in"  data-aos-duration="1000">Ha még nincs fiókod itt tudsz regisztrálni.</p>
    </div>
  </div>
  <hr>
  <div class="bej" *ngIf="!isSignedIn">
    <div class="welchome half-containers">
      <h2 data-aos="zoom-in"  data-aos-duration="1000">Ha már van fiókod!</h2>
      <p data-aos="zoom-in"  data-aos-duration="1000" >Itt be tudsz jelentkezni.</p>
    </div>
    <mat-card class="do half-containers">
      <mat-card-title data-aos="zoom-in"  data-aos-duration="1000">Bejelentekzés</mat-card-title>
      <form [formGroup]="signInForm" data-aos="zoom-in"  data-aos-duration="1000">
      <mat-form-field>
        <mat-label for="email">Email: </mat-label>
        <input matInput type="text" #email/>
      </mat-form-field>
      <mat-form-field>
        <mat-label for="email">Jelszó: </mat-label>
        <input matInput type="password" #password/>
      </mat-form-field>
      <button class="cp-button" (click)="onSignin(email.value,password.value)">Sign in</button>
      </form>
    </mat-card>
  </div>  
</div>
